body {
    
    background: radial-gradient(circle, rgba(52,51,57,1) 0%, rgba(36,37,42,1) 36%, rgba(19,23,27,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

img {
    margin-left: 51px;
    margin-top: 12%;
    width: 300px;
}



input{
    border-color: none;
    height: 25px;
    background-color: #f2f2f2;
    color: rgb(66, 2, 2);
    border-radius: 8px;
    width: 239px;
}

.inputsenha {  
    margin-top: 10px;
}

button{
    font-family:  Franklin Gothic ;
    width: 239px;
    height: 30px;
    background-color: rgb(182, 174, 174);
    color: darkred;
    border-radius: 8px;
}

.ButtonLogin{
    border: none;
    color: #f2f2f2;
    background-color: #3c0707;
    background-image: linear-gradient(147deg, #3c0707 0%, #c40c10 37%, #5b1308 100%);
    margin-top: 20px;
    transition: 0.4s;
}
.ButtonLogin:hover{
    width: 242px;
    background-color: #000000;
background-image: linear-gradient(43deg, #000000 0%, #bd2929 46%, #050000 100%);


    cursor:pointer;
}

.ButtonCriarConta{
    background-color: #c4c2c2;
    background-image: linear-gradient(147deg, #c4c2c2 0%, #474444 37%, #240a08 100%);
    color: #f2f2f2;
    border: none;
    margin-top: 10px;
    width: 150px;
    cursor: pointer;

}

.ButtonCriarConta:hover {
    background-color: #050505;
background-image: linear-gradient(90deg, #050505 0%, #978989 50%, #605252 100%);

    
    cursor: pointer;    


}

h1 {
font-style: normal;
font-size: small;
margin-top: 30px;
color: #f8f8f879;
}

a {
color: #b61c1fa8;
text-decoration: none;

}


@-webkit-keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}