body {
    background: rgb(52,51,57);
    background: radial-gradient(circle, rgba(52,51,57,1) 0%, rgba(36,37,42,1) 36%, rgba(19,23,27,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-left: 51px;
margin-top: 12%;
    width: 300px;
}

input{
    
    border-color: rgb(172, 12, 12);
    background-color: rgb(185, 179, 179);
    color: rgb(66, 2, 2);
    border-radius: 8px;
    width: 239px;
}

.inputsenha {  
    margin-top: 10px;
}

button{
    border-color: darkred;
    background-color: rgb(201, 196, 196);
    color: darkred;
    margin-top: 10px;
    border-radius: 5px;

}