 body{
    background-color: black;



 }

ul { 
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;

}


h2{
   color: aliceblue;
}


.imageContainer{
width: 500px;
height: 500px;
position: relative;


}

.imageContainer img{
width: 100%;
height: auto;


}
 
.imageContainer .btnAssistir{
position:absolute;
top: 50%;
background-color: #555;
color: aquamarine;
font-size: 16px;
cursor: pointer;
text-align: center;
border-radius: 4%;
border: none;
padding: 10px 20px;
z-index: 2;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
}